{% extends "layout.html" %}
{% block content %}
   
<div class="row">
    <div class="content-section col-md-8">
        <form method="POST" action="">
                <!--protection against xss-->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Perfume List</legend>
                <div class="form-ckeck">
                    Wybierz
                        <div class="form-check">
                            {{ form.perfume }}
                        </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    <div class="content-section col-md-4">
        <h3>Perfumes you already like</h3>
        <p class='text-muted'>
            {% for choice in tmp_choices%}
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><b>{{choice[0].name}}</b> by {{ choice[0].brand}}</li>
            </ul>
            {% endfor %}
        </p>
        <div>
            <a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('users.recommend_perfumes') }}">Your Recommendation</a>
        </div>
        <div>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete All</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure about that?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('users.delete_preference') }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
            </div>
        </div>
</div>

{% endblock content %}